name: Dev Linter, Build, Unit Test

env:
  FLUTTER_VERSION: "debug"
  
on:
  push:
    branches: [ developer ]
  pull_request:
    branches: [ developer ]
  workflow_dispatch:

jobs:
#  linter:
#    runs-on: ubuntu-latest
#    name: Lint flutter code
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v2

#      # Setup Flutter
#      - name: Set up Flutter
#        uses: subosito/flutter-action@v1
        
#      # Add formating standards
#      - run: |
#          cd ./
#          flutter pub add --dev effective_dart
#          flutter pub get
#      # Analyze
#      - name: Analyze Flutter
#        uses: ValentinVignal/action-dart-analyze@v0.11
#        with:
#          fail-on: "analyze"

  build-ios:
    name: Build Project IOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - run: chmod +x ./.github/secrets/decrypt_secrets.sh
      - name: Setup provisioning profile
        run: ./.github/secrets/decrypt_secrets.sh
        env: 
          IOS_KEYS: ${{ secrets.IOS_KEYS }}

#      - uses: subosito/flutter-action@v1
#      - name: Restore packages
#        run: flutter pub get
#     - name: Build Flutter
#        run: flutter build ios --release --no-codesign

#      - name: Locate build file
#        run: find ./ -type f -name "*.app"

#  test:
#    name: Run Unit Tests
#    runs-on: macos-latest

#    steps:
#      - uses: actions/checkout@v2
      
#      - name: Set up Flutter
#        uses: subosito/flutter-action@v1
#      - run: flutter pub get
      
#      - name: Run tests
#        run: flutter test
        
